@import url(./section-title/_theme/_dark/section-title_theme_dark.css);

@import url(./section-subtitle/_theme/_dark/section-subtitle_theme_dark.css);

@import url(./__triangle/kaufman__triangle.css);

@import url(./__triangle/animation/_rotate/animation_rotate.css);

@import url(./table/_theme/_dark/table_theme_dark.css);

@import url(./table/__cell/_theme/_dark/table__cell_theme_dark.css);

.kaufman {
  background-color: #1f1f1f;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
