@import url(./cards/cards.css);

@import url(./cards/__item/cards__item.css);

@import url(./cards/__images/cards__image.css);

@import url(./cards/__title/cards__title.css);

@import url(./cards/__description/cards__description.css);

.techniques {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
